<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ensure multi-views and indexing are disabled
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # Redirect all requests to the public folder if /public is not in the URL
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]

    # Ensure all requests are handled by the public/index.php file if they are not a directory or file
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
